Radio tracks to Spotify sync/Radio_Kampus_Today.json
{
  "name": "Radio Kampus Today",
  "nodes": [
    {
      "parameters": {
        "command": "=curl 'https://api.radiokampus.fm/playlista/?day={{$today.format('yyyyMMdd') }}' \\\n  -H 'Accept: application/json, text/plain, */*' \\\n  -H 'Accept-Language: pl,en;q=0.9,en-GB;q=0.8' \\\n  -H 'Connection: keep-alive' \\\n  -H 'Origin: https://radiokampus.fm' \\\n  -H 'Referer: https://radiokampus.fm/' \\\n  -H 'Sec-Fetch-Dest: empty' \\\n  -H 'Sec-Fetch-Mode: cors' \\\n  -H 'Sec-Fetch-Site: same-site' \\\n  -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36 Edg/134.0.0.0' \\\n  -H 'sec-ch-ua: \"Chromium\";v=\"134\", \"Not:A-Brand\";v=\"24\", \"Microsoft Edge\";v=\"134\"' \\\n  -H 'sec-ch-ua-mobile: ?0' \\\n  -H 'sec-ch-ua-platform: \"macOS\"' "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -680,
        1180
      ],
      "id": "46ac596e-fe58-485d-b824-ae3b4babbc6a",
      "name": "Execute Command",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const parsedStdout = JSON.parse($input.first().json.stdout);\n\nreturn {\n  json: {\n    result: parsedStdout\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        1180
      ],
      "id": "628a98d4-fb28-46c3-9464-2cacba92d881",
      "name": "convert_stdout_to_json"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10c5ce4d-7ec5-42ae-bc7d-d694afb2efac",
              "leftValue": "={{ $now.diffTo($json.start_time, 'minutes')}}",
              "rightValue": "={{ 10 }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1420,
        280
      ],
      "id": "92750aa0-5008-4216-b6d3-ac12a163d770",
      "name": "Only from last 10 min"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.result.map(e => {\n  return {\n    json: e\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        1180
      ],
      "id": "0f4b7c72-ab4c-45b0-8b57-44dd915c2376",
      "name": "remap item"
    },
    {
      "parameters": {
        "content": "https://community.n8n.io/t/string-to-json-and-remap-item/20312/2"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -100,
        1140
      ],
      "id": "82fc3cff-cea1-4c03-9449-a11270313dd1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "fieldToSplitOut": "track.uri",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        400,
        -380
      ],
      "id": "e795787e-e6b5-4d8e-b62a-c7ffb6fd259c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        0
      ],
      "id": "7792df90-9056-40ea-b4c4-2bcaec6dc2d5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "song_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        900,
        120
      ],
      "id": "ca0bd9a3-7a9e-4799-b007-ecf4adfbc3b5",
      "name": "Sort"
    },
    {
      "parameters": {
        "content": "curl not found when restarted -"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -440,
        1340
      ],
      "id": "bf10dd96-4a49-4d9d-9528-51216ed53e1e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9452990-b5e2-4770-bd62-ec17284ccecb",
              "leftValue": "={{ $now.diffTo($now.format('00:00'), 'minutes') }}",
              "rightValue": "={{ 15 }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        0
      ],
      "id": "556fa63f-23cc-4610-81d4-c83c13302d68",
      "name": "If midnight"
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "getTracks",
        "id": "spotify:playlist:2mRjj1n58ZlEg1HTy1VtHm",
        "returnAll": true
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        180,
        -380
      ],
      "id": "973331e5-2e37-47e4-9f75-357458801ec2",
      "name": "Get Tracks",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "dasVh44R9RIZzlRF",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "delete",
        "id": "spotify:playlist:2mRjj1n58ZlEg1HTy1VtHm",
        "trackID": "={{ $json['track.uri'] }}"
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        580,
        -380
      ],
      "id": "5fbe7a6d-8457-4bc7-b824-df41cf671114",
      "name": "Clear Playlist",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "dasVh44R9RIZzlRF",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "get",
        "id": "spotify:playlist:2mRjj1n58ZlEg1HTy1VtHm"
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        0,
        400
      ],
      "id": "a3610f7b-2ced-42ed-98cb-9ea11d97fe31",
      "name": "Get Playlist Info",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "dasVh44R9RIZzlRF",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.radiokampus.fm/playlista/?api=true",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n    \"Accept\": \"application/json, text/plain, */*\",\n    \"Accept-Encoding\": \"gzip, deflate, br, zstd\",\n    \"Accept-Language\": \"pl,en;q=0.9,en-GB;q=0.8\",\n    \"Connection\": \"keep-alive\",\n    \"Host\": \"api.radiokampus.fm\",\n    \"Origin\": \"https://radiokampus.fm\",\n    \"Referer\": \"https://radiokampus.fm/\",\n    \"Sec-Fetch-Dest\": \"empty\",\n    \"Sec-Fetch-Mode\": \"cors\",\n    \"Sec-Fetch-Site\": \"same-site\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36 Edg/134.0.0.0\",\n    \"sec-ch-ua\": \"\\\"Chromium\\\";v=\\\"134\\\", \\\"Not:A-Brand\\\";v=\\\"24\\\", \\\"Microsoft Edge\\\";v=\\\"134\\\"\",\n    \"sec-ch-ua-mobile\": \"?0\",\n    \"sec-ch-ua-platform\": \"\\\"macOS\\\"\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        120
      ],
      "id": "baaf7ed8-44e7-44e7-9031-d48c1e35ec7f",
      "name": "GET Songs List"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "74c15c63-15c5-46e8-9f29-3457c7031e82",
              "leftValue": "={{ $('Get Playlist Info1').item.json.total }}",
              "rightValue": "={{ 0 }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        120
      ],
      "id": "66169c24-345b-443e-a8f1-d52354f0ab43",
      "name": "IF Empty Playlist"
    },
    {
      "parameters": {
        "resource": "track",
        "operation": "search",
        "query": "={{ $json.artist }} {{ $json.title }}",
        "limit": "=1",
        "filters": {}
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        1420,
        0
      ],
      "id": "aa1514dd-3b5b-4cce-9599-550ebf7bc5e4",
      "name": "Search Track",
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "dasVh44R9RIZzlRF",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fba2956b-cfab-4b1a-8383-a370e1eb3046",
              "leftValue": "={{ $json.name.toLowerCase() }}",
              "rightValue": "={{ $('IF Empty Playlist').item.json.title.toLowerCase() }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "faf1c45f-2f5d-47fe-ab28-9fb8f7d6ac78",
              "leftValue": "={{ $('IF Empty Playlist').item.json.title.toLowerCase() }}",
              "rightValue": "={{ $json.name.toLowerCase() }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1660,
        0
      ],
      "id": "c26d4035-7003-479f-a638-ad6ea764e950",
      "name": "Check If Correct Track"
    },
    {
      "parameters": {
        "resource": "playlist",
        "id": "spotify:playlist:2mRjj1n58ZlEg1HTy1VtHm",
        "trackID": "={{ $json.uri }}",
        "additionalFields": {
          "position": 0
        }
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        1600,
        -160
      ],
      "id": "046b2d48-5a2b-4119-af3c-d9b326c2a641",
      "name": "Add to Playlist",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "dasVh44R9RIZzlRF",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "track",
        "operation": "search",
        "query": "={{ $json.artist }} {{ $json.title }}",
        "limit": 1,
        "filters": {}
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        1660,
        280
      ],
      "id": "b0987fab-9aed-446f-97ac-e930abba0779",
      "name": "Search Track2",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "dasVh44R9RIZzlRF",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fba2956b-cfab-4b1a-8383-a370e1eb3046",
              "leftValue": "={{ $json.name.toLowerCase() }}",
              "rightValue": "={{ $('Only from last 10 min').item.json.title.toLowerCase() }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "faf1c45f-2f5d-47fe-ab28-9fb8f7d6ac78",
              "leftValue": "={{ $('Only from last 10 min').item.json.title.toLowerCase() }}",
              "rightValue": "={{ $json.name.toLowerCase() }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1880,
        280
      ],
      "id": "72632563-01cf-4633-abbd-e749e6e57d81",
      "name": "Check If Correct Track1"
    },
    {
      "parameters": {
        "resource": "playlist",
        "id": "spotify:playlist:2mRjj1n58ZlEg1HTy1VtHm",
        "trackID": "={{ $json.uri }}",
        "additionalFields": {
          "position": 0
        }
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        1960,
        500
      ],
      "id": "38634f33-2879-4c34-be2a-1101e2251296",
      "name": "Add to Playlist1",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "dasVh44R9RIZzlRF",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "kampus",
          "mode": "list",
          "cachedResultName": "kampus"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TrackID": "={{ $('Search Track2').item.json.uri }}",
            "Title": "={{ $('Search Track2').item.json.name }}",
            "Artist": "={{ $('Search Track2').item.json.artists[0].name }}",
            "DateAdded": "={{DateTime.now().toISO()}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TrackID",
              "displayName": "TrackID",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Artist",
              "displayName": "Artist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DateAdded",
              "displayName": "DateAdded",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2560,
        280
      ],
      "id": "4d895885-8975-4f87-984e-c403d99a565b",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "s17AKesnTgN7q2vH",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "kampus",
          "mode": "list",
          "cachedResultName": "kampus"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TrackID": "={{ $('Search Track').item.json.uri }}",
            "Title": "={{ $('Search Track').item.json.name }}",
            "Artist": "={{ $('Search Track').item.json.artists[0].name }}",
            "DateAdded": "={{DateTime.now().toISO()}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TrackID",
              "displayName": "TrackID",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Artist",
              "displayName": "Artist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DateAdded",
              "displayName": "DateAdded",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2460,
        0
      ],
      "id": "1af2bec7-d78e-46d9-8d42-6eaf4b95e4cd",
      "name": "Postgres1",
      "credentials": {
        "postgres": {
          "id": "s17AKesnTgN7q2vH",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.spotify.com/v1/playlists/2mRjj1n58ZlEg1HTy1VtHm/items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"uris\": [\n        \"{{ $json.uri }}\"\n    ],\n    \"position\": 0\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        280
      ],
      "id": "ab7efb7b-85ff-45c2-a7fc-a965c8e57434",
      "name": "HTTP Request",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "dasVh44R9RIZzlRF",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.spotify.com/v1/playlists/2mRjj1n58ZlEg1HTy1VtHm/items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"uris\": [\n        \"{{ $json.uri }}\"\n    ],\n    \"position\": 0\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2040,
        0
      ],
      "id": "b1a0c3c0-0622-424b-8a83-d2327efd1030",
      "name": "HTTP Request1",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "dasVh44R9RIZzlRF",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "content": "# old api\n",
        "height": 240,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1560,
        -240
      ],
      "id": "8fefdf0e-8ff4-47d2-9c88-8c619cf33a00",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "url": "=https://api.spotify.com/v1/playlists/2mRjj1n58ZlEg1HTy1VtHm/items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body.next }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.next == null }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -180
      ],
      "id": "0cb823b5-0f1b-4ede-94ac-c75280da621c",
      "name": "Get items from playlist",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "dasVh44R9RIZzlRF",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        220,
        -180
      ],
      "id": "8f87bb4e-4f98-4574-b79c-c6f500c54172",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "item.uri",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        420,
        -180
      ],
      "id": "bc89c602-15a9-445e-b2a5-c736d9d3450c",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.spotify.com/v1/playlists/2mRjj1n58ZlEg1HTy1VtHm/items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ items: $json.items }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        -180
      ],
      "id": "98b0e68f-430f-4317-952e-8fc264d14f5b",
      "name": "Remove items from playlist1",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "dasVh44R9RIZzlRF",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allUris = $input.all().map(item => item.json['item.uri']);\n\nconst chunks = [];\nfor (let i = 0; i < allUris.length; i += 100) {\n  const slice = allUris.slice(i, i + 100);\n  chunks.push({\n    json: {\n      items: slice.map(uri => ({ uri }))\n    }\n  });\n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -180
      ],
      "id": "aded4df0-b10e-4b29-b7cf-37ca0ba7e65d",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "# old api",
        "height": 240,
        "width": 1020
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -460
      ],
      "id": "d5b94828-b760-42d5-90a8-b26f4732ada5",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# old api\n",
        "height": 240,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1840,
        420
      ],
      "id": "936e6597-e98c-41c5-a64e-abf822a42a87",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "url": "=https://api.spotify.com/v1/playlists/2mRjj1n58ZlEg1HTy1VtHm/items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body.next }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.next == null }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20,
        120
      ],
      "id": "4ce4da63-46c4-48d3-8045-cece68c4a99d",
      "name": "Get Playlist Info1",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "dasVh44R9RIZzlRF",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        700,
        120
      ],
      "id": "d283f16c-baab-493c-9bae-34557558c2f1",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "be1dc4e1-77da-426d-8eef-c960f26dbf5b",
              "leftValue": "={{ $json.song_id}}",
              "rightValue": 9999,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        480,
        120
      ],
      "id": "6a971a38-c5ee-4975-8f6d-a1ec62bf6e4a",
      "name": "Filter"
    },
    {
      "parameters": {
        "content": "# old api\n",
        "height": 240,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -120,
        320
      ],
      "id": "4743c353-162f-4431-9fcd-618ce6cf22a5",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Command": {
      "main": [
        [
          {
            "node": "convert_stdout_to_json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert_stdout_to_json": {
      "main": [
        [
          {
            "node": "remap item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only from last 10 min": {
      "main": [
        [
          {
            "node": "Search Track2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "remap item": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Clear Playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "If midnight",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "IF Empty Playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If midnight": {
      "main": [
        [
          {
            "node": "Get items from playlist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Playlist Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tracks": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Playlist Info": {
      "main": [
        []
      ]
    },
    "GET Songs List": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Empty Playlist": {
      "main": [
        [
          {
            "node": "Search Track",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Only from last 10 min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Track": {
      "main": [
        [
          {
            "node": "Check If Correct Track",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Correct Track": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Track2": {
      "main": [
        [
          {
            "node": "Check If Correct Track1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Correct Track1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Playlist1": {
      "main": [
        []
      ]
    },
    "Add to Playlist": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get items from playlist": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove items from playlist1": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Remove items from playlist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Playlist Info1": {
      "main": [
        [
          {
            "node": "GET Songs List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Warsaw",
    "callerPolicy": "workflowsFromSameOwner",
    "saveExecutionProgress": true
  },
  "versionId": "460d320d-76a7-487c-9cba-067f078ad3fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bdd689fe744662b4e531131caad9b9ace3aa55dcb0b6be1ddefd2e14f6e8fd09"
  },
  "id": "Yd7u0fyd8CGX0lOj",
  "tags": []
}